.query-bar {
  background: var(--orangegray);
  color: var(--orangegray-opposite);
  user-select: none;
  border-bottom: 1px solid var(--back-opposite);
}
.query-bar form.row {
  padding: 8px;
  width: 100%;
}
.query-bar form.row > .input-group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
.query-bar form.row .input-group {
  flex-grow: 0;
  display: inline-block;
  padding: 4px 6px;
}
.query-bar form.row .input-group label {
  display: inline-block;
  margin: 0 4px;
}
.query-bar form.row .input-group input:focus,
.query-bar form.row .input-group select:focus {
  outline: none;
}
.query-bar form.row .input-group input#username {
  width: 140px;
}
.query-bar form.row .input-group input#text {
  width: 400px;
}
.query-bar form.row .input-group input[type="range"] {
  width: 180px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.query-bar form.row .input-group span.range-value {
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 100px;
  opacity: 0.6;
  pointer-events: none;
}
.query-bar form.row .input-group span.range-value.hidden {
  display: none;
}
.container.history {
  padding-bottom: 5vw;
}
.container.history table {
  width: 100%;
  background: var(--back-opposite);
}
.container.history table * {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
.container.history table thead {
  font-size: 110%;
  font-weight: bolder;
  text-align: center;
  color: var(--back);
}
.container.history table thead td {
  padding: 3 10px;
}
.container.history table tbody tr {
  background: var(--yellow);
  color: black;
}
.container.history table tbody tr td {
  padding: 2px 5px 1px;
  margin: 0;
}
.container.history table tbody tr td.username,
.container.history table tbody tr td.date {
  white-space: nowrap;
}
.container.history table tbody tr td.username {
  font-weight: bolder;
}
.container.history table tbody tr td.username .highlight {
  background: orange;
}
.container.history table tbody tr td.date {
  font-size: 75%;
}
.container.history table tbody tr td.text .highlight {
  background: yellowgreen;
}
